<!-- main header -->
<header class="main-header header-style-two header-style-12">
    <!-- header-lower -->
    <div class="header-lower">
        <div class="outer-container">
            <div class="outer-box">
                <div class="logo-box">
                    <figure class="logo"><a href="index.html"><img src="/assets/img/logo-14.png" alt=""></a></figure>
                </div>
                <div class="menu-area clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light" style="color:white">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent"
                            style="color:white">
                            <ul class="navigation clearfix home-menu" style="color:white">
                                <li class="dropdown"><a (click)="callHome()">Home</a>

                                    <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div>
                                </li>
                                <li class="dropdown"><a class="nav-link" routerLinkActive="active">Services</a>
                                    <ul style="color:white">
                                        <li><a (click)="callServices()">IT Support staffing</a></li>
                                        <li><a (click)="callServices()">IT Consulting</a></li>
                                        <li><a (click)="callServices()">Recruitment Solution</a></li>
                                        <li><a (click)="callServices()">Overseas education</a></li>
                                        <li><a (click)="callServices()">University assignment & Exams</a></li>
                                        <li><a (click)="callServices()">HR & Immigration</a></li>
                                        <li><a (click)="callEmployeePortal()">Employee Portal </a></li>

                                    </ul>

                                    <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div>
                                </li>
                                <li class="dropdown"><a class="nav-link" routerLinkActive="active">Technologies</a>
                                    <ul style="color:white">
                                        <li><a (click)="callTech()">Angular</a></li>
                                        <li><a (click)="callTech()">React</a></li>
                                        <li><a (click)="callTech()">Java / J2EE</a></li>
                                        <li><a (click)="callTech()">Mesaging Queue</a></li>
                                        <li><a (click)="callTech()">Microservices</a></li>
                                        <li><a (click)="callTech()">Full stack </a></li>

                                    </ul>
                                    <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div>
                                </li>
                                <li class="dropdown"><a class="nav-link" routerLinkActive="active">Company</a>
                                    <ul style="color:white">
                                        <li><a (click)="callCompany()">About Us</a></li>
                                        <li><a (click)="callCompany()">Our Mission & Vision</a></li>
                                        <li><a (click)="callCompany()">Career</a></li>

                                    </ul>
                                    <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div>
                                </li>
                                <li class="dropdown"><a (click)="callContactus()">Contact Us</a>

                                    <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <!--sticky Header-->

</header>
<!-- main-header end -->