<!DOCTYPE html>
<html lang="en" class="semi-dark"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Required meta tags -->
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="" type="image/png">
  <!-- Bootstrap CSS -->
  <link href="/assets/timesheet/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/timesheet/css/bootstrap-extended.css" rel="stylesheet">
  <link href="/assets/timesheet/css/style.css" rel="stylesheet">
  <link href="/assets/timesheet/css/icons.css" rel="stylesheet">
  <link href="/assets/timesheet/css/css2" rel="stylesheet">
  <link rel="stylesheet" href="/assets/timesheet/css/bootstrap-icons.css">

  <!-- loader-->
	<link href="/assets/timesheet/css/pace.min.css" rel="stylesheet">

  <title>Login</title>
</head>

<body >
    <div class="pace  pace-inactive">
        
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>

  <!--start wrapper-->
  <div class="wrapper">
    
       <!--start content-->
       <main class="authentication-content mt-5">
        <div class="container-fluid">
         <div class="row">
          <div class="col-12 col-lg-4 mx-auto">
            <div class="card shadow rounded-5 overflow-hidden">
                  <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title" style="color:blue"><strong>Sign In</strong></h5>
                    <form class="form-body">
                      <div class="login-separater text-center mb-4"> 
                        <hr>
                      </div>
                        <div class="row g-3">
                          <div class="col-12">
                            <label for="inputEmailAddress" class="form-label">Email Address</label>
                            <div class="ms-auto position-relative">
                              <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-envelope-fill"></i></div>
                              <input type="email" value="{{email}}"   name="email" class="form-control radius-30 ps-5" id="inputEmailAddress" placeholder="Email Address">
                            </div>
                          </div>
                          <div class="col-12">
                            <label for="inputChoosePassword" class="form-label">Enter Password</label>
                            <div class="ms-auto position-relative">
                              <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                              <input type="password" required value={{password}} class="form-control radius-30 ps-5" id="inputChoosePassword" placeholder="Enter Password">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                              <label class="form-check-label" for="flexSwitchCheckChecked">Remember Me</label>
                            </div>
                          </div>
                          <div class="col-6 text-end">	<a href="/authentication-forgot-password.html">Forgot Password ?</a>
                          </div>
                          <div class="col-12">
                            <div class="d-grid">
                              <button  class="btn btn-primary radius-30" (click)="goToDashboard()">Sign In</button>
                            </div>
                          </div>
                          <div class="col-12">
                            <p class="mb-0">Don't have an account yet? <a style="color:blue" (click)="goToRegister()">Sign up here</a></p>
                          </div>
                        </div>
                    </form>
                 </div>
            </div>
          </div>
        </div>
        </div>
       </main>
        
       <!--end page main-->

  </div>
  <!--end wrapper-->


  <!--plugins-->
  <script src="./Snacked - Bootstrap 5 Admin Template_files/jquery.min.js.download"></script>
  <script src="./Snacked - Bootstrap 5 Admin Template_files/pace.min.js.download"></script>
</body></html>