<!DOCTYPE html>
<html lang="en" class="semi-dark"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Required meta tags -->
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="" type="image/png">
  <!-- Bootstrap CSS -->
  <link href="/assets/timesheet/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/timesheet/css/bootstrap-extended.css" rel="stylesheet">
  <link href="/assets/timesheet/css/style.css" rel="stylesheet">
  <link href="/assets/timesheet/css/icons.css" rel="stylesheet">
  <link href="/assets/timesheet/css/css2" rel="stylesheet">
  <link rel="stylesheet" href="/assets/timesheet/css/bootstrap-icons.css">

  <!-- loader-->
	<link href="/assets/timesheet/css/pace.min.css" rel="stylesheet">

  <title>Login</title>
</head>

<body >
    <div class="pace  pace-inactive">
        
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>

  <!--start wrapper-->
  <div class="wrapper">
    
       <!--start content-->
       <main class="authentication-content mt-5">
        <div class="container-fluid">
         <div class="row">
          <div class="col-12 col-lg-4 mx-auto">
            <div class="card shadow rounded-5 overflow-hidden">
                  <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title" style="color:blue"><strong>Dashboard</strong></h5>
                    <br><br>
                    <div >
                      <span><button type="submit" class="btn btn-primary" (click)="goToTimesheet()">Timesheet</button></span>
                      <span>&nbsp;</span>
                      <span><button type="submit" class="btn btn-primary" >Personal Details</button></span>
                      
                    </div>
                  
                 </div>
            </div>
          </div>
        </div>
        </div>
       </main>
        
       <!--end page main-->

  </div>
  <!--end wrapper-->


  <!--plugins-->
  <script src="./Snacked - Bootstrap 5 Admin Template_files/jquery.min.js.download"></script>
  <script src="./Snacked - Bootstrap 5 Admin Template_files/pace.min.js.download"></script>
</body></html>